
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/LearnUp23_JAVA2_Hibernate</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

<!--        <property name="connection.pool_size">1</property>-->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="ru.learnUp.LearnHUB23_Hibernate.db.model.Post"/>
        <mapping class="ru.learnUp.LearnHUB23_Hibernate.db.model.Comment"/>

    </session-factory>
</hibernate-configuration>